window {
  border:  0px;
  border-radius: 10px;
  font-family: monospace;
  font-size: 18px;
  background-color: rgba(0,0,0,0.6);
}

#input {
  border-radius: 10px 10px 0px 0px;
  border:  0px;
  padding: 16px;
  margin: 0px;
  font-size: 28px;
  color: rgba(255,255,255,1);
  background-color: rgba(0,0,0,0.8);
}

#inner-box {
  margin: 0px;
  color: rgba(255,255,225,1);
}

#outer-box {
  margin: 0px;
  border-radius: 10px;
}

#selected {
  color: rgba(0,0,0,1);
  border-radius: 5px;
  background-color: rgba(0,0,0,1);
}

#entry {
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  background-color: rgba(0,0,0,0);
}

#scroll {
  margin: 5px;
  background-color: rgba(0,0,0,0);
}

#text {
  margin: 0px;
  padding: 12px 12px 12px 12px;
}
